.chatBox {
  position: absolute;
  left: 0;
  display: flex;
  width: 10vw;;
  height: 25vh;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  /* z-index: -10; */
}

.chatMessages {
  height: 80%;
  overflow-x: scroll;
  display: flex;
  flex-direction: column-reverse;
  /* z-index: -10; */
}
