#colorPickerButton {
  /* width: 200px; */
  /* height: 100px; */
  color:white
}


.colorPickerButton {
  /* position: fixed;
  bottom: 0;
  right:0; */
}

.sketchWrapper {
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 200;
  flex-direction: column;
}

.sketch-picker {
  z-index: 1000;
}

#pickerClose {
  /* position: relative; */
  top: 0;
  right: 0;
  width: 100px;
  background-color: rgb(255, 255, 255);
  z-index: 2000;
  color: black;
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
}
