.hidden {
  /* visibility: hidden; */
  display: none;
}

.webcamPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* position: absolute;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  z-index: 10; */
}

.webcamPopUp {
  background-color: rgb(50, 50, 50);
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
}

.webcamPopUp button {
  z-index: 200;

}

#takePhotoButton {
  /* top:0;
  position: fixed; */
}

.showWebCam {
  box-shadow: 0 0 0 15px black;
  background-color: black;
  margin-bottom: 30px;
}

#webcamLoadingText {
  position: absolute;
}
