* {
  box-sizing: border-box;
}

#canvas {
  margin: 0 auto;
  width: 70vw;
  height: 70vw;
}

.pixelRow {
  /* height: 20px; */
}

.row {
  margin: 0;
  padding: 0;
  line-height: 0;
  /* height: 20px; */
}

.pixel {
  display: inline-block;
  cursor: pointer;
  /* width: 20px;   */
  /* height: 20px;   */
  border: 1px solid rgb(98, 98, 98);
}

.pixelGrid {
  width: 70vw;
  margin: 0 auto;
  border: 1px solid red;
}
