@import 'https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap';

html {
  font-family: 'Press Start 2P', monospace;
}

button, input {
  font-family: 'Press Start 2P', monospace;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.hidden {
  visibility: hidden;
}

body {
  background-color: rgb(99, 99, 99);
  color: rgb(247, 247, 247);
}

#galleryButton {
  position: absolute;
  top:0;
  left:0;
}
#pixelGridButton {
  position: absolute;
  top:0;
  left: 50px;
}
#webCamButton {
  position: absolute;
  top:0;
  left: 100px;
}
#TestCanvasButton {
  position: absolute;
  top:0;
  left: 150px;
}

#header {
  position: absolute;
  margin: 10px;
  top:0;
  right:0;
}
